.git
.github
.env
.env.*
!.env.example
/vendor
/node_modules
/public/build
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/bootstrap/cache
/coverage
/.phpunit.cache
/docs/research
