.env
.env.*
!.env.example
/vendor/
/node_modules/
/public/build/
/.phpunit.cache/
/coverage/
.DS_Store
/.pnpm-store/
/public/fonts-manifest.dev.json
/resources/js/actions/
/resources/js/routes/
/resources/js/wayfinder/
/storage/inertia-devtools/
/.codespaces/
